<h4>oxymath</h3>
<p>Oxymath is a simple JS library for making manipulations with matrix easier. </p>
<p> You can get source code from Github - <a href="http://github.com/oxygenych/oxymath">http://github.com/oxygenych/oxymath</a>
